<a href="https://colab.research.google.com/github/24110090/psdv/blob/requistic/prerequistic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import statistics

#Create a list of the first 20 natural numbers
natural_numbers = list(range(1,21))

# to calculate the sum of all even numbers in the list
even_sum =0
for num in natural_numbers:
  if num % 2 ==0:
    even_sum+=num

#the calculate product of all odd numbers in the list
odd_product = 1
for num in natural_numbers:
    if num % 2 != 0:
        odd_product *= num

# Calculate mean, median, and standard deviation using the statistics module
mean = statistics.mean(natural_numbers)
median = statistics.median(natural_numbers)
std_dev = statistics.stdev(natural_numbers)

print("Sum of even numbers:", even_sum)
print("Product of odd numbers:", odd_product)
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std_dev)

Sum of even numbers: 110
Product of odd numbers: 654729075
Mean: 10.5
Median: 10.5
Standard Deviation: 5.916079783099616

In [11]:
'''1. Mutable Data Types:
A mutable object is one whose value can be changed or modified after it is created. When you modify a mutable object, the object itself is altered in memory.
Examples of Mutable Data Types:
Lists: You can add, remove, or modify elements in a list.
Dictionaries: You can change the values associated with keys, add new key-value pairs,etc.
Sets: You can add or remove elements in a set.


2. Immutable Data Types:
An immutable object is one whose value cannot be changed after it is created. If you try to modify an immutable object, a new object is created with the updated value.
Examples of Immutable Data Types:
Strings: You cannot change individual characters of a string.
Tuples: Once a tuple is created, its elements cannot be changed.
Integers: Integers are immutable.
Floats: floats are immutable.'''
# take a list
list = [1, 2, 3]
list[1] = 99  # Modify the second element
print(list)  # Output: [1, 99, 3]

# take a tuple
tuple = (1, 2, 3)
try:
    tuple[1] = 99  # Trying to modify the tuple
except TypeError as e:
    print(f"Error: {e}")  # Output: 'tuple' object does not support item assignment
#if we see the output we can say that list can be changed whereas a tuple doesn't hence we can differentiate them easily by this method.

[1, 99, 3]
Error: 'tuple' object does not support item assignment

In [21]:
#first create a function to get fibonacci series
def fibonacci_series(n):
    fibonacci = [0, 1]
    for i in range(2, n):
        fibonacci.append(fibonacci[i - 1] + fibonacci[i - 2])
    return fibonacci[:n]

# now Number of Fibonacci numbers
n = 10

fib_sequence = fibonacci_series(n)

# now Print the Fibonacci sequence
print(f"First {n} Fibonacci numbers: {fib_sequence}")

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [22]:
list = [3, 5, 7, 9, 11, 13]
list.insert(3, 6)
list.remove(7)
list.reverse()

# now to calculate the mean
mean = sum(list) / len(list)

# to calculate the median first we  Sort the list
list_sorted = sorted(list)
if len(list_sorted) % 2 == 1:
    # if number of elements are odd then we use this
    median = list_sorted[len(list_sorted) // 2]
else:
    # if number of elements are even then we should use this
    median = (list_sorted[len(list_sorted) // 2 - 1] + list_sorted[len(list_sorted) // 2]) / 2

print(f"Modified list: {list}")
print(f"Mean: {mean}")
print(f"Median: {median}")

Modified list: [13, 11, 9, 6, 5, 3]
Mean: 7.833333333333333
Median: 7.5

In [24]:
#now create a comma-separated list of numbers from the user
user_input = input("Enter a list of numbers separated by commas: ")

# now we should keep comma the input string into a list of numbers
numbers = [int(x) for x in user_input.split(',')]

# now  Calculate the mean
mean = sum(numbers) / len(numbers)

# now given in question Identify the smallest and largest numbers
smallest = min(numbers)
largest = max(numbers)

# Print the calculated statistics
print(f"Mean: {mean}")
print(f"Smallest number: {smallest}")
print(f"Largest number: {largest}")

Enter a list of numbers separated by commas: 10,20,30,40
Mean: 25.0
Smallest number: 10
Largest number: 40

In [3]:
def palindrome():
  str=input()
  if str==str[::-1]:
    print("True")
  else:
    print("False")
palindrome()

eye
True

In [8]:
student_marks = {
    "mukesh": 78,
    "mani": 56,
    "Chaitanya": 95,
    "David": 44,
    "siri": 23
}

# now calculate the average marks
average_marks = sum(student_marks.values()) / len(student_marks)

#  Print the names of students scoring above the average
print(f"Average marks: {average_marks:.2f}")
print("Students scoring above the average:")

for student, marks in student_marks.items():
    if marks > average_marks:
        print(student)

Average marks: 59.20
Students scoring above the average:
mukesh
Chaitanya

In [9]:
# First Create a list of tuples with numbers and their squares for numbers 1 to 10
tuple_list = [(i, i**2) for i in range(1, 11)]

# Print the resulting list of tuples
print(tuple_list)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

In [12]:
dict1 = {'a': 10, 'b': 20, 'c': 30}
dict2 = {'b': 15, 'c': 25, 'd': 40}

merged_dict = dict1.copy()

for key, value in dict2.items():
    if key in merged_dict:
        merged_dict[key] += value  # If key is present in both, sum the values
    else:
        merged_dict[key] = value  # If key is only in dict2, add it
print(merged_dict)

{'a': 10, 'b': 35, 'c': 55, 'd': 40}

In [16]:
def character_frequency(input_string):
    # Convert all characters to lowercase
    input_string = input_string.lower()

    # now create an empty dictionary
    frequency_dict = {}

    # Iterate through each character in the string
    for char in input_string:
        # If the character is not a space (optional, you can include spaces if needed)
        if char != ' ':
            if char in frequency_dict:
                frequency_dict[char] += 1
            else:
                frequency_dict[char] = 1

    return frequency_dict

In [17]:
def string_operations(string_list):
    # first find the longest string
    longest_string = max(string_list, key=len)

    #Now Count how many strings start with a vowel
    vowels = 'aeiouAEIOU'
    count_vowel_start = sum(1 for string in string_list if string[0] in vowels)

    return longest_string, count_vowel_start

# take an example:
string_list = ["apple", "banana", "orange", "umbrella", "grape", "kiwi"]
longest_string, vowel_count = string_operations(string_list)

print("Longest string:", longest_string)
print("Number of strings starting with a vowel:", vowel_count)

Longest string: umbrella
Number of strings starting with a vowel: 3

In [19]:
def sort_dictionaries_by_key(data, key):
    # so by using sorted() to sort the list of dictionaries by the specified key
    return sorted(data, key=lambda x: x[key])

#take an example:
data = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 22}]
sorted_data = sort_dictionaries_by_key(data, 'age')

print(sorted_data)

[{'name': 'Bob', 'age': 22}, {'name': 'Alice', 'age': 25}]

In [22]:
def process_string(n):
    # First Split the string into a list of words
    words = n.split()

    # Now Remove words shorter than 4 characters
    filter_the_words = [word for word in words if len(word) >= 4]

    #Sort the remaining words alphabetically
    sort_the_words = sorted(filter_the_words)

    return sort_the_words

# Example usage:
n = "I am learning Python programming"
result = process_string(n)

print(result)

['Python', 'learning', 'programming']

In [23]:
def set_operations(list1, list2):
    # Convert lists to sets
    set1 = set(list1)
    set2 = set(list2)

    # To Find the intersection
    intersection = set1.intersection(set2)

    # To Find the union
    union = set1.union(set2)

    # To Find the symmetric difference
    symmetric_difference = set1.symmetric_difference(set2)

    return intersection, union, symmetric_difference

#For example
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

intersection, union, symmetric_difference = set_operations(list1, list2)

print("Intersection:", intersection)
print("Union:", union)
print("Symmetric Difference:", symmetric_difference)

Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [24]:
import statistics

def calculate_statistics(numbers):
    mean = statistics.mean(numbers)
    median = statistics.median(numbers)
    mode = statistics.mode(numbers)
    std_deviation = statistics.stdev(numbers)

    return mean, median, mode, std_deviation

# for example:
numbers = [20, 30, 40, 50, 60, 70, 80, 90, 100]
mean, median, mode, std_deviation = calculate_statistics(numbers)

print(f"Mean: {mean}")
print(f"Median: {median}")
print(f"Mode: {mode}")
print(f"Standard Deviation: {std_deviation}")

Mean: 55
Median: 55.0
Mode: 10
Standard Deviation: 30.276503540974915

In [26]:
def normalize(numbers):
    # To Find the minimum and maximum values of the list
    min_val = min(numbers)
    max_val = max(numbers)

    # To Normalize each number using the min-max formula
    normalized_numbers = [(x - min_val) / (max_val - min_val) for x in numbers]

    return normalized_numbers

# Now take an example:
numbers = [10, 20, 30, 40, 50]
normalized_numbers = normalize(numbers)

print(f"Normalized Numbers: {normalized_numbers}")

Normalized Numbers: [0.0, 0.25, 0.5, 0.75, 1.0]

In [27]:
def get_letter_grade():
    grade = float(input("Enter your numerical grade: "))

    if 90 <= grade <= 100:
        print("Your grade is: A")
    elif 80 <= grade < 90:
        print("Your grade is: B")
    elif 70 <= grade < 80:
        print("Your grade is: C")
    elif 60 <= grade < 70:
        print("Your grade is: D")
    elif 0 <= grade < 60:
        print("Your grade is: F")
    else:
        print("Invalid grade. Please enter a grade between 0 and 100.")

get_letter_grade()

Enter your numerical grade (0-100): 95
Your grade is: A

In [28]:
def check_leap_year():
    year = int(input("Enter a year: "))

# Check if the year is a leap year
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        print(f"{year} is a Leap Year.")
    else:
        print(f"{year} is not a Leap Year.")

check_leap_year()

Enter a year: 2025
2025 is not a Leap Year.

In [25]:
def check_even_odd():
    number = int(input("Enter an integer: "))

    # To check if the number is even or odd
    if number % 2 == 0:
        print(f"{number} is Even")
    else:
        print(f"{number} is Odd")

check_even_odd()

Enter an integer: 34
34 is Even